.bottomBlock {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #E5E5E5;
}
.title {
    padding: 0 0 30px 30px;
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
}